<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>幫組電腦的虛擬學長</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="css/swiper.min.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <!-- Demo styles -->
  <style>
  </style>
</head>

<body>
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide sw01">
        <img src="/images/card.jpg" id="home_card">
        <div class="home">
          <button type="button" class="btn btn-outline-light" id="home_build">點擊選擇你的電腦配備</button>
          <button type="button" class="btn btn-outline-light" id="build">組電腦</button>
          <button type="button" class="btn btn-outline-light" id="rank">硬體排行</button>
          <button type="button" class="btn btn-outline-light" id="qa">Q&A</button>
          <button type="button" class="btn btn-outline-light" id="content">Chatbot</button>
        </div>

      </div>
      <div class="swiper-slide sw02">
        <div class="CPU_PAGE rounded">
          <div class="CPU_image">
            <img src="/images/i3-71002.png"  style="height:100%">
          </div>
          <div class="CPU_box">
            <div class="CPU_information">
              <ul class="list-group cpu_title">
                <li class="list-group-item">廠牌</li> 
                <li class="list-group-item">型號</li>
                <li class="list-group-item">時脈</li>
                <li class="list-group-item">耗電</li>
                <li class="list-group-item">售價</li>
              </ul>
              <ul class="list-group cpu_group">
                <li class="list-group-item">Ryzen TR2 2990WX</li> <li class="list-group-item">Intel</li>
                <li class="list-group-item">3.3GHZ</li>
                <li class="list-group-item">54W</li>
                <li class="list-group-item">2188</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART">RESTART</button>
          <button type="button" class="btn btn-success butt" id="CPU">CPU</button>
          <button type="button" class="btn btn-secondary butt" id="GPU">GPU</button>
          <button type="button" class="btn btn-secondary butt" id="SSD">SSD</button>
          <button type="button" class="btn btn-secondary butt" id="HDD">HDD</button>
          <button type="button" class="btn btn-secondary butt" id="RAM">RAM</button>
        </div>
      </div>
      <div class="swiper-slide sw03">
        <P>GPU</P>
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART1">RESTART</button>
          <button type="button" class="btn btn-secondary butt" id="CPU1">CPU</button>
          <button type="button" class="btn btn-success butt" id="GPU1">GPU</button>
          <button type="button" class="btn btn-secondary butt" id="SSD1">SSD</button>
          <button type="button" class="btn btn-secondary butt" id="HDD1">HDD</button>
          <button type="button" class="btn btn-secondary butt" id="RAM1">RAM</button>
        </div>
      </div>
      <div class="swiper-slide sw04">
        <P>SSD</P>
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART2">RESTART</button>
          <button type="button" class="btn btn-secondary butt" id="CPU2">CPU</button>
          <button type="button" class="btn btn-secondary butt" id="GPU2">GPU</button>
          <button type="button" class="btn btn-success butt" id="SSD2">SSD</button>
          <button type="button" class="btn btn-secondary butt" id="HDD2">HDD</button>
          <button type="button" class="btn btn-secondary butt" id="RAM2">RAM</button>
        </div>
      </div>
      <div class="swiper-slide sw05">
        <img src="/images/card.jpg" id="home_card">
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART3">RESTART</button>
          <button type="button" class="btn btn-secondary butt" id="CPU3">CPU</button>
          <button type="button" class="btn btn-secondary butt" id="GPU3">GPU</button>
          <button type="button" class="btn btn-secondary butt" id="SSD3">SSD</button>
          <button type="button" class="btn btn-success butt" id="HDD3">HDD</button>
          <button type="button" class="btn btn-secondary butt" id="RAM3">RAM</button>
        </div>
      </div>
      <div class="swiper-slide sw06">
        <div class="bar-group">
          <button type="button" class="btn btn-secondary butt" id="RESTART4">RESTART</button>
          <button type="button" class="btn btn-secondary butt" id="CPU4">CPU</button>
          <button type="button" class="btn btn-secondary butt" id="GPU4">GPU</button>
          <button type="button" class="btn btn-secondary butt" id="SSD4">SSD</button>
          <button type="button" class="btn btn-secondary butt" id="HDD4">HDD</button>
          <button type="button" class="btn btn-success butt" id="RAM4">RAM</button>
        </div>
      </div>
    </div>
    <!-- 分頁器 -->
    <div class="swiper-pagination"></div>
    <!-- 箭頭 -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  </div>

  <!-- Swiper JS -->
  <script src="js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 30,
      keyboard: {
        enabled: true,
      },
      pagination: {
        el: '.swiper-pagination',
        type: 'progressbar',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
    document.querySelector('#home_build').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#RESTART').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#RESTART1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#RESTART2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#RESTART3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#RESTART4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(0, 0);
    });
    document.querySelector('#CPU').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#CPU1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#CPU2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#CPU3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });
    document.querySelector('#CPU4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(1, 0);
    });

    document.querySelector('#GPU').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });
    document.querySelector('#GPU1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });
    document.querySelector('#GPU2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });
    document.querySelector('#GPU3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });
    document.querySelector('#GPU4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(2, 0);
    });

    document.querySelector('#SSD').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#SSD1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#SSD2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#SSD3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#SSD4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(3, 0);
    });
    document.querySelector('#HDD').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#HDD1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#HDD2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#HDD3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#HDD4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(4, 0);
    });
    document.querySelector('#RAM').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#RAM1').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#RAM2').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#RAM3').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
    document.querySelector('#RAM4').addEventListener('click', function (e) {
      e.preventDefault();
      swiper.slideTo(5, 0);
    });
  </script>
</body>

</html>