<h1>Account - List</h1>
<table>
    <tr>
        <th>cpu_id</th>
		<th>brand</th>
		<th>price</th>
        <th>rank</th>
    </tr>
    
    <% for ( var i = 0 ; i < 63 ; i++){ %>
        <tr>
            <td>
                <%= data[i].cpu_id  %>
            </td>
            <td>
                <%= data[i].brand  %>
            </td>
            <td>
                <%= data[i].price  %>
            </td>
            <td>
                <%= data[i].rank  %>
            </td>
        </tr>
        <% } %>
</table>