<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <title>CPU排名</title>
</head>

<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h1 class="mt-5 text-center">CPU排名</h1>
        </br>
        <div class="col-lg-12 text-center ">
          <a href="rank.html"><button type="button" class="btn btn-outline-secondary btn-lg"> CPU </button></a>
          <button type="button" class="btn btn-outline-secondary btn-lg"> GPU </button></div>

        </br>
        </br>

        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">1.AMD Ryzen TR2 2990WX</br>售價 57999</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="100" style="width: 100%">100</div>
              </div>
            </div>
          </div>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">2.Intel i9-9940X</br>售價 43500</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
              </div>
            </div>
          </div>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">3.Intel i9-9980XE</br>售價 61800</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">92.4242</div>
              </div>
            </div>
          </div>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">4.AMD Ryzen@TR2@2970WX</br>售價 41999</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="91.6667" style="width:91.6667%">91.6667</div>"
              </div>
            </div>
          </div>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">5.Intel i9-9900K</br>售價 15300</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="90.9091" style="width:90.9091%">90.9091</div>"
              </div>
            </div>
          </div>
        </button>
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">6.AMD R@TR2@2950X</br>售價 28999</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="88.6364" style="width:88.6364%">88.6364</div>"
              </div>
            </div>
          </div>
        </button>
        <!--7-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">7.Intel i9-9900X</br>售價 31500</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="87.1212" style="width:87.1212%">87.1212</div>"
              </div>
            </div>
          </div>
        </button>
        <!--8-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">8.Intel i7-9700K</br>售價 13800</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="85.6061" style="width:85.6061%">85.6061</div>"
              </div>
            </div>
          </div>
        </button>
        <!--9-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">9.Intel i7-9800X</br>售價 18800</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="85.6061" style="width:85.6061%">85.6061</div>
              </div>
            </div>
          </div>
        </button>
        <!--10-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">10.Intel i7-8086K</br>售價 13800</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="84.8485" style="width:84.8485%">84.8485</div>
              </div>
            </div>
          </div>
        </button>
        <!--11-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">11.Intel i9-9820X</br>售價 27500</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="82.5758" style="width:82.5758%">82.5758</div>
              </div>
            </div>
          </div>
        </button>
        <!--12-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">12.AMD Ryzen@TR2@2920X</br>售價 20699</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="82.5758" style="width:82.5758%">82.5758</div>
              </div>
            </div>
          </div>
        </button>
        <!--13-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">13.Intel i7-8700K</br>售價 12200</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="81.0606" style="width:81.0606%">81.0606</div>
              </div>
            </div>
          </div>
        </button>
        <!--14-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">14.Intel i5-9600K</br>售價 7990</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="78.7879" style="width:78.7879%">78.7879</div>
              </div>
            </div>
          </div>
        </button>
        <!--15-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">15.Intel i7-8700</br>售價 10900</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="77.2727" style="width:77.2727%">77.2727</div>
              </div>
            </div>
          </div>
        </button>
        <!--16-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">16.AMD Ryzen@TR@1920X</br>售價 13299</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="76.5152" style="width:76.5152%">76.5152</div>
              </div>
            </div>
          </div>
        </button>
        <!--17-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">17.AMD R7@2700X</br>售價 10999</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="75.7576" style="width:75.7576%">75.7576</div>
              </div>
            </div>
          </div>
        </button>
        <!--18-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">18.Intel i7-7740X</br>售價 9700</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="73.0303" style="width:73.0303%">73.0303</div>
              </div>
            </div>
          </div>
        </button>
        <!--19-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">19.Intel i5-7640X</br>售價 6800</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="72.2727" style="width:72.2727%">72.2727</div>
              </div>
            </div>
          </div>
        </button>
        <!--20-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">20.Intel i7-7700K</br>售價 10800</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="72.197" style="width:72.197%">72.197</div>
              </div>
            </div>
          </div>
        </button>
        <!--21-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">21.Intel i5-8600</br>售價 7450</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="72.1212" style="width:72.1212%">72.1212</div>
              </div>
            </div>
          </div>
        </button>
        <!--22-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">22.AMD Ryzen@TR@1900X</br>售價 9900</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="71.0606" style="width:71.0606%">71.0606</div>
              </div>
            </div>
          </div>
        </button>
        <!--23-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">23.Intel i5-8500</br>售價 6900</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="69.4697" style="width:69.4697%">69.4697</div>
              </div>
            </div>
          </div>
        </button>
        <!--24-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">24.AMD R5@2600X</br>售價 7499</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="69.4697" style="width:69.4697%">69.4697</div>
              </div>
            </div>
          </div>
        </button>
        <!--25-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">25.Intel i3-8350K</br>售價 4990</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="69.1667" style="width:69.1667%">69.1667</div>
              </div>
            </div>
          </div>
        </button>
        <!--26-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">26.AMD R7-1700X</br>售價 8990</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="67.4242" style="width:67.4242%">67.4242</div>
              </div>
            </div>
          </div>
        </button>
        <!--27-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">27.Intel i5-8400</br>售價 6300</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="67.0455" style="width:67.0455%">67.0455</div>
              </div>
            </div>
          </div>
        </button>
        <!--28-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">28.AMD R5@2600</br>售價 6399</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="66.5909" style="width:66.5909%">66.5909</div>
              </div>
            </div>
          </div>
        </button>
        <!--29-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">29.AMD R7@2700</br>售價 10199</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="66.1364" style="width:66.1364%">66.1364</div>
              </div>
            </div>
          </div>
        </button>
        <!--30-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">30.Intel i7-7700</br>售價 9999</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="62.197" style="width:62.197%">62.197</div>
              </div>
            </div>
          </div>
        </button>
        <!--31-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">31.Intel Xeon@E5-2630@V4</br>售價 21200</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="61.0606" style="width:61.0606%">61.0606</div>
              </div>
            </div>
          </div>
        </button>
        <!--32-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">32.Intel i3-8300</br>售價 4850</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="60.7576" style="width:60.7576%">60.7576</div>
              </div>
            </div>
          </div>
        </button>
        <!--33-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">33.Intel i3-8100</br>售價 3400</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="58.7879" style="width:58.7879%">58.7879</div>
              </div>
            </div>
          </div>
        </button>
        <!--34-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">34.AMD R3@2200G</br>售價 3229</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="57.7273" style="width:57.7273%">57.7273</div>
              </div>
            </div>
          </div>
        </button>
        <!--35-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">35.Intel Xeon@E3-1220@V5</br>售價 6400</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="55.6818" style="width:55.6818%">55.6818</div>
              </div>
            </div>
          </div>
        </button>
        <!--36-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">36.Intel i3-7350K</br>售價 5200</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="55.0758" style="width:55.0758%">55.0758</div>
              </div>
            </div>
          </div>
        </button>
        <!--37-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">37.AMD R5@2400G</br>售價 5199</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="54.3939" style="width:54.3939%">54.3939</div>
              </div>
            </div>
          </div>
        </button>
        <!--38-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">38.Intel i5-7400</br>售價 6100</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="53.0303" style="width:53.0303%">53.0303</div>
              </div>
            </div>
          </div>
        </button>
        <!--39-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">39.Intel Pentium@G5600</br>售價 3188</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="50.2273" style="width:50.2273%">50.2273</div>
              </div>
            </div>
          </div>
        </button>
        <!--40-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">40.Intel Xeon@E5-2620@V4</br>售價 13300</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="49.1667" style="width:49.1667%">49.1667</div>
              </div>
            </div>
          </div>
        </button>
        <!--41-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">41.Intel Pentium@G5500</br>售價 2580</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="48.1818" style="width:48.1818%">48.1818</div>
              </div>
            </div>
          </div>
        </button>
        <!--42-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">42.Intel i3-7100</br>售價 3990</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="47.7273" style="width:47.7273%">47.7273</div>
              </div>
            </div>
          </div>
        </button>
        <!--43-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">43.Intel Pentium@G5400</br>售價 1850</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="45.8333" style="width:45.8333%">45.8333</div>
              </div>
            </div>
          </div>
        </button>
        <!--44-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">44.Intel Pentium@G4560</br>售價 2150</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="42.803" style="width:42.803%">42.803</div>
              </div>
            </div>
          </div>
        </button>
        <!--45-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">45.AMD Athlon@200GE</br>售價 2099</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="39.0152" style="width:39.0152%">39.0152</div>
              </div>
            </div>
          </div>
        </button>
        <!--46-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">46.AMD A8-9600</br>售價 1699</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="34.1667" style="width:34.1667%">34.1667</div>
              </div>
            </div>
          </div>
        </button>
        <!--47-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">47.Intel Pentium@G4400</br>售價 2188</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="33.7121" style="width:33.7121%">33.7121</div>
              </div>
            </div>
          </div>
        </button>
        <!--48-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">48.Intel Celeron@G4900</br>售價 1190</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="32.2727" style="width:32.2727%">32.2727</div>
              </div>
            </div>
          </div>
        </button>
        <!--49-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">49.Intel Celeron@G4920</br>售價 1650</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="32.0455" style="width:32.0455%">32.0455</div>
              </div>
            </div>
          </div>
        </button>
        <!--50-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">50.Intel Celeron@G3930</br>售價 1650</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="30.1515" style="width:30.1515%">30.1515</div>
              </div>
            </div>
          </div>
        </button>
        <!--51-->
        <button type="button" class="list-group-item list-group-item-action">
          <div class="row ">
            <div class="col-sm-3">51.AMD A6-9500</br>售價 1299</div>
            <div class="col-sm-9 text-center">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                  aria-valuemin="50" aria-valuemax="24.1667" style="width:24.1667%">24.1667</div>
              </div>
            </div>
          </div>
        </button>
      </br>
    </br>
  </br>
</br>



</body>

</html>