<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="rank_style.css" rel="stylesheet">
  <title>CPU排名</title>
</head>

<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h1 class="mt-5 text-center">CPU排名</h1>
        </br>
        <div class="col-lg-12 text-center ">
          <a href="rank.html"><button type="button" class="btn btn-outline-secondary btn-lg"> CPU </button></a>
          <button type="button" class="btn btn-outline-secondary btn-lg"> GPU </button></div>

        </br>
        </br>

        <button type="button" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="srank">
                <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
            </div>
            <div class="cpu_images">
              <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
            </div>
            <div class="rank_information">
              <p>Intel i9-9940X</p>
              <p>售價 43500</p>
            </div>
            <div class="rank_bar">
                <div class="progress" style="height: 90%;">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                      aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                </div>
            </div>
          </div>
        </button>
        
        <button type="button" class="list-group-item list-group-item-action">
            <div class="row">
              <div class="srank">
                  <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
              </div>
              <div class="cpu_images">
                <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
              </div>
              <div class="rank_information">
                <p>Intel i9-9940X</p>
                <p>售價 43500</p>
              </div>
              <div class="rank_bar">
                  <div class="progress" style="height: 90%;">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                        aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                  </div>
              </div>
            </div>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
              <div class="row">
                <div class="srank">
                    <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                </div>
                <div class="cpu_images">
                  <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                </div>
                <div class="rank_information">
                  <p>Intel i9-9940X</p>
                  <p>售價 43500</p>
                </div>
                <div class="rank_bar">
                    <div class="progress" style="height: 90%;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                          aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                    </div>
                </div>
              </div>
            </button>
            <button type="button" class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="srank">
                      <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                  </div>
                  <div class="cpu_images">
                    <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                  </div>
                  <div class="rank_information">
                    <p>Intel i9-9940X</p>
                    <p>售價 43500</p>
                  </div>
                  <div class="rank_bar">
                      <div class="progress" style="height: 90%;">
                          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                            aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                      </div>
                  </div>
                </div>
              </button>
              <button type="button" class="list-group-item list-group-item-action">
                  <div class="row">
                    <div class="srank">
                        <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                    </div>
                    <div class="cpu_images">
                      <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                    </div>
                    <div class="rank_information">
                      <p>Intel i9-9940X</p>
                      <p>售價 43500</p>
                    </div>
                    <div class="rank_bar">
                        <div class="progress" style="height: 90%;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                              aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                        </div>
                    </div>
                  </div>
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                    <div class="row">
                      <div class="srank">
                          <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                      </div>
                      <div class="cpu_images">
                        <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                      </div>
                      <div class="rank_information">
                        <p>Intel i9-9940X</p>
                        <p>售價 43500</p>
                      </div>
                      <div class="rank_bar">
                          <div class="progress" style="height: 90%;">
                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                                aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                          </div>
                      </div>
                    </div>
                  </button>
                  <button type="button" class="list-group-item list-group-item-action">
                      <div class="row">
                        <div class="srank">
                            <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                        </div>
                        <div class="cpu_images">
                          <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                        </div>
                        <div class="rank_information">
                          <p>Intel i9-9940X</p>
                          <p>售價 43500</p>
                        </div>
                        <div class="rank_bar">
                            <div class="progress" style="height: 90%;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                                  aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                            </div>
                        </div>
                      </div>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <div class="row">
                          <div class="srank">
                              <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                          </div>
                          <div class="cpu_images">
                            <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                          </div>
                          <div class="rank_information">
                            <p>Intel i9-9940X</p>
                            <p>售價 43500</p>
                          </div>
                          <div class="rank_bar">
                              <div class="progress" style="height: 90%;">
                                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                                    aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                              </div>
                          </div>
                        </div>
                      </button>
                      <button type="button" class="list-group-item list-group-item-action">
                          <div class="row">
                            <div class="srank">
                                <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                            </div>
                            <div class="cpu_images">
                              <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                            </div>
                            <div class="rank_information">
                              <p>Intel i9-9940X</p>
                              <p>售價 43500</p>
                            </div>
                            <div class="rank_bar">
                                <div class="progress" style="height: 90%;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                                      aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                                </div>
                            </div>
                          </div>
                        </button>
                        <button type="button" class="list-group-item list-group-item-action">
                            <div class="row">
                              <div class="srank">
                                  <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                              </div>
                              <div class="cpu_images">
                                <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                              </div>
                              <div class="rank_information">
                                <p>Intel i9-9940X</p>
                                <p>售價 43500</p>
                              </div>
                              <div class="rank_bar">
                                  <div class="progress" style="height: 90%;">
                                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                                        aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                                  </div>
                              </div>
                            </div>
                          </button>
                          <button type="button" class="list-group-item list-group-item-action">
                              <div class="row">
                                <div class="srank">
                                    <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                                </div>
                                <div class="cpu_images">
                                  <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                                </div>
                                <div class="rank_information">
                                  <p>Intel i9-9940X</p>
                                  <p>售價 43500</p>
                                </div>
                                <div class="rank_bar">
                                    <div class="progress" style="height: 90%;">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                                          aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                                    </div>
                                </div>
                              </div>
                            </button>
                            <button type="button" class="list-group-item list-group-item-action">
                                <div class="row">
                                  <div class="srank">
                                      <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                                  </div>
                                  <div class="cpu_images">
                                    <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                                  </div>
                                  <div class="rank_information">
                                    <p>Intel i9-9940X</p>
                                    <p>售價 43500</p>
                                  </div>
                                  <div class="rank_bar">
                                      <div class="progress" style="height: 90%;">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                                            aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                                      </div>
                                  </div>
                                </div>
                              </button>
                              <button type="button" class="list-group-item list-group-item-action">
                                  <div class="row">
                                    <div class="srank">
                                        <a href="#" class="btn btn-outline-info btn-lg disabled" role="button" aria-disabled="true">1</a>
                                    </div>
                                    <div class="cpu_images">
                                      <img src="images/cpu_images/Ryzen TR2 2990WX.jpg" style="height: 98%;">
                                    </div>
                                    <div class="rank_information">
                                      <p>Intel i9-9940X</p>
                                      <p>售價 43500</p>
                                    </div>
                                    <div class="rank_bar">
                                        <div class="progress" style="height: 90%;">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
                                              aria-valuemin="50" aria-valuemax="92.42" style="width: 92.42%">96.2121</div>
                                        </div>
                                    </div>
                                  </div>
                                </button>



</body>

</html>