html,
body {
  position: relative;
  height: 100%;
}

body {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background-image: url(../images/background2.jpg);


}

body {
    font-family: "微軟正黑體", "Microsoft JhengHei", monospace;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.title {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
#choice_CPU {
    position: absolute;
    top: 75%;
    left : 21%;
    width: 10%;
    height: 10%;
    font-size: 30px;
}
#choice_GPU {
    position: absolute;
    top: 75%;
    left : 33%;
    width: 10%;
    height: 10%;
    font-size: 30px;
}

#choice_RAM {
    position: absolute;
    top: 75%;
    left : 45%;
    width: 10%;
    height: 10%;
    font-size: 30px;
}

#choice_MB {
    position: absolute;
    top: 75%;
    left : 57%;
    width: 10%;
    height: 10%;
    font-size: 30px;
}

#choice_DISK {
    position: absolute;
    top: 75%;
    left : 69%;
    width: 10%;
    height: 10%;
    font-size: 30px;
}



#home_card {
    position: absolute;
    top: 0%;
    left: 5%;
    width: 10%;
}

#home_build {
    position: absolute;
    top: 75%;
    right: 35%;
    width: 30%;
    height: 10%;
    font-size: 35px;
  }  

#build {
    position: absolute;
    top: 5%;
    right: 29%;
    width: 8%;
    height: 7%;
    font-size: 100%;
}

#rank {
    position: absolute;
    top: 5%;
    right: 20%;
    width: 8%;
    height: 7%;
    font-size: 100%;
}

#qa {
    position: absolute;
    top: 5%;
    right: 11%;
    width: 8%;
    height: 7%;
    font-size: 100%;
}

#content {
    position: absolute;
    top: 5%;
    right: 2%;
    width: 8%;
    height: 7%;
    font-size: 100%;
}

.question_table{
    position: absolute;
    /*background-color: blue;*/
    top: 25%;
    left: 18%;
    width: 80%;
    height: 20%;
    color:white;
    font-weight: bold;
    font-size: 300%;
}


.answer_table{
    position: absolute;
    /*background-color: red;*/
    top: 40%;
    right: 8%;
    width: 80%;
    height: 30%;
    color:white;
    font-weight: bold;
    font-size: 250%;

}

.shortanswer_table{
    position: absolute;
    /*background-color: red;*/
    top: 40%;
    left: 18%;
    width: 80%;
    height: 30%;
    color:white;
    font-weight: bold;
    font-size: 250%;

}

.gpuu{
    font-size:150%,;
    font-weight:bold;
}