<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/qa_all_style.css" rel="stylesheet">
  <title>GPU Q&A</title>

  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="../css/swiper.min.css">

  <!-- BootStraps JS-->
  <script src="./js/jquery-3.3.1.min.js"></script>
  <script>window.jQuery</script>
  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>

</head>

<body>
  <!-- chatbot -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Chatbot</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe allow="microphone;" width="100%" height="500" src="https://console.dialogflow.com/api-client/demo/embedded/d43607d5-d943-4736-9e0e-8f23ea18557d">
          </iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <!-- Swiper -->
  <div class="swiper-container">

    <div class="swiper-wrapper">
      <div class="swiper-slide sw01">
        <!-- 上方功能列 -->
        <img src="./images/card.jpg" id="home_card">
        <div class="home">
            <a href="/index"><button type="button" class="btn btn-outline-light" id="build">組電腦</button></a>
            <a href="/cpu_rank"><button type="button" class="btn btn-outline-light" id="rank">硬體排行</button></a>
            <a href="/qa"><button type="button" class="btn btn-outline-light" id="qa">Q&A</button></a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" id="content">
                Chatbot
            </button>
            <a href="/qa_cpu"><button type="button" class="btn btn-outline-light " id="choice_CPU">CPU Q&A</button></a>
      <a href="/qa_gpu"><button type="button" class="btn btn-outline-light active" id="choice_GPU">GPU Q&A</button></a>
      <a href="/qa_ram"><button type="button" class="btn btn-outline-light" id="choice_RAM">RAM Q&A</button></a>
      <a href="/qa_mb"><button type="button" class="btn btn-outline-light" id="choice_MB">MB Q&A</button></a>
      <a href="/qa_disk"><button type="button" class="btn btn-outline-light" id="choice_DISK">DISK Q&A</button></a>
          </div>
        <!--Q1-->
        <div class="question_table">
          Q1：顯示卡的晶片組分為哪兩大家呢？
        </div>
        <div class="answer_table">
          A：顯示卡分為AMD和NVIDIA兩大家來提供晶片組。再交給下游廠商開發非公版的顯示卡。也就是我們看到的技嘉、華碩、微星、evga等廠商發售的顯示卡。
        </div>
      </div>
      <div class="swiper-slide sw02">
         <!-- 上方功能列 -->
         <img src="./images/card.jpg" id="home_card">
         <div class="home">
            <a href="/index"><button type="button" class="btn btn-outline-light" id="build">組電腦</button></a>
            <a href="/cpu_rank"><button type="button" class="btn btn-outline-light" id="rank">硬體排行</button></a>
            <a href="/qa"><button type="button" class="btn btn-outline-light" id="qa">Q&A</button></a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" id="content">
                Chatbot
            </button>
            <a href="/qa_cpu"><button type="button" class="btn btn-outline-light " id="choice_CPU">CPU Q&A</button></a>
      <a href="/qa_gpu"><button type="button" class="btn btn-outline-light active" id="choice_GPU">GPU Q&A</button></a>
      <a href="/qa_ram"><button type="button" class="btn btn-outline-light" id="choice_RAM">RAM Q&A</button></a>
      <a href="/qa_mb"><button type="button" class="btn btn-outline-light" id="choice_MB">MB Q&A</button></a>
      <a href="/qa_disk"><button type="button" class="btn btn-outline-light" id="choice_DISK">DISK Q&A</button></a>
          </div>
         <!--Q2-->
         <div class="question_table">
           Q2：目前最新一代的消費級遊戲顯示卡？
         </div>
         <div class="answer_table">
           A：NVIDIA為GTX10系列，AMD則是Rx4系列和Rx5系列還有VEGA系列。
         </div>
      </div>
      <div class="swiper-slide sw03">
        <!-- 上方功能列 -->
        <img src="./images/card.jpg" id="home_card">
        <div class="home">
            <a href="/index"><button type="button" class="btn btn-outline-light" id="build">組電腦</button></a>
            <a href="/cpu_rank"><button type="button" class="btn btn-outline-light" id="rank">硬體排行</button></a>
            <a href="/qa"><button type="button" class="btn btn-outline-light" id="qa">Q&A</button></a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" id="content">
                Chatbot
            </button>
            <a href="/qa_cpu"><button type="button" class="btn btn-outline-light " id="choice_CPU">CPU Q&A</button></a>
      <a href="/qa_gpu"><button type="button" class="btn btn-outline-light active" id="choice_GPU">GPU Q&A</button></a>
      <a href="/qa_ram"><button type="button" class="btn btn-outline-light" id="choice_RAM">RAM Q&A</button></a>
      <a href="/qa_mb"><button type="button" class="btn btn-outline-light" id="choice_MB">MB Q&A</button></a>
      <a href="/qa_disk"><button type="button" class="btn btn-outline-light" id="choice_DISK">DISK Q&A</button></a>
          </div>
        <!--Q3-->
        <div class="question_table">
          Q3：目前顯示卡效能大致由高到低分別為？
        </div>
        <div class="shortanswer_table">
          A： <a href="gpu_rank.html#rankk"><button type="button" class="btn btn-outline-light btn-lg" style="width:27%;height:25%"><div class="gpuu" >點我查看顯示卡效能排行</div></button></a>
        </div>
      </div>
      <div class="swiper-slide sw04">
        <!-- 上方功能列 -->
        <img src="./images/card.jpg" id="home_card">
        <div class="home">
            <a href="/index"><button type="button" class="btn btn-outline-light" id="build">組電腦</button></a>
            <a href="/cpu_rank"><button type="button" class="btn btn-outline-light" id="rank">硬體排行</button></a>
            <a href="/qa"><button type="button" class="btn btn-outline-light" id="qa">Q&A</button></a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" id="content">
                Chatbot
            </button>
            <a href="/qa_cpu"><button type="button" class="btn btn-outline-light " id="choice_CPU">CPU Q&A</button></a>
      <a href="/qa_gpu"><button type="button" class="btn btn-outline-light active" id="choice_GPU">GPU Q&A</button></a>
      <a href="/qa_ram"><button type="button" class="btn btn-outline-light" id="choice_RAM">RAM Q&A</button></a>
      <a href="/qa_mb"><button type="button" class="btn btn-outline-light" id="choice_MB">MB Q&A</button></a>
      <a href="/qa_disk"><button type="button" class="btn btn-outline-light" id="choice_DISK">DISK Q&A</button></a>
          </div>
        <!--Q4-->
        <div class="question_table">
          Q4：打LOL低配顯示卡？
        </div>
        <div class="shortanswer_table">
          A：GTX 1050就夠用了
        </div>
      </div>
      <div class="swiper-slide sw05">
        <!-- 上方功能列 -->
        <img src="./images/card.jpg" id="home_card">
        <div class="home">
            <a href="/index"><button type="button" class="btn btn-outline-light" id="build">組電腦</button></a>
            <a href="/cpu_rank"><button type="button" class="btn btn-outline-light" id="rank">硬體排行</button></a>
            <a href="/qa"><button type="button" class="btn btn-outline-light" id="qa">Q&A</button></a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" id="content">
                Chatbot
            </button>
            <a href="/qa_cpu"><button type="button" class="btn btn-outline-light " id="choice_CPU">CPU Q&A</button></a>
      <a href="/qa_gpu"><button type="button" class="btn btn-outline-light active" id="choice_GPU">GPU Q&A</button></a>
      <a href="/qa_ram"><button type="button" class="btn btn-outline-light" id="choice_RAM">RAM Q&A</button></a>
      <a href="/qa_mb"><button type="button" class="btn btn-outline-light" id="choice_MB">MB Q&A</button></a>
      <a href="/qa_disk"><button type="button" class="btn btn-outline-light" id="choice_DISK">DISK Q&A</button></a>
          </div>
        <!--Q5-->
        <div class="question_table">
          Q5：打Over Watch 建議顯示卡？
        </div>
        <div class="answer_table">
          A：至少GTX 1050，要1080p解析度144hz的話請拿GTX1070以上。
        </div>
      </div>
      <div class="swiper-slide sw06">
        <!-- 上方功能列 -->
        <img src="./images/card.jpg" id="home_card">
        <div class="home">
            <a href="/index"><button type="button" class="btn btn-outline-light" id="build">組電腦</button></a>
            <a href="/cpu_rank"><button type="button" class="btn btn-outline-light" id="rank">硬體排行</button></a>
            <a href="/qa"><button type="button" class="btn btn-outline-light" id="qa">Q&A</button></a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" id="content">
                Chatbot
            </button>
            <a href="/qa_cpu"><button type="button" class="btn btn-outline-light " id="choice_CPU">CPU Q&A</button></a>
      <a href="/qa_gpu"><button type="button" class="btn btn-outline-light active" id="choice_GPU">GPU Q&A</button></a>
      <a href="/qa_ram"><button type="button" class="btn btn-outline-light" id="choice_RAM">RAM Q&A</button></a>
      <a href="/qa_mb"><button type="button" class="btn btn-outline-light" id="choice_MB">MB Q&A</button></a>
      <a href="/qa_disk"><button type="button" class="btn btn-outline-light" id="choice_DISK">DISK Q&A</button></a>
          </div>
        <!--Q6-->
        <div class="question_table">
          Q6：打大型遊戲（如GTA、巫師3）建議顯示卡？
        </div>
        <div class="shortanswer_table">
          Ａ：中低等特效：GTX1050</br>
          　　中高等特效：GTX1060 3G</br>
          　　高等特效：GTX1060 6G</br>
          　　特效全開：GTX1070、VEGA 56以上
        </div>
      </div>
      <div class="swiper-slide sw07">
        <!-- 上方功能列 -->
        <img src="./images/card.jpg" id="home_card">
        <div class="home">
            <a href="/index"><button type="button" class="btn btn-outline-light" id="build">組電腦</button></a>
            <a href="/cpu_rank"><button type="button" class="btn btn-outline-light" id="rank">硬體排行</button></a>
            <a href="/qa"><button type="button" class="btn btn-outline-light" id="qa">Q&A</button></a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" id="content">
                Chatbot
            </button>
            <a href="/qa_cpu"><button type="button" class="btn btn-outline-light " id="choice_CPU">CPU Q&A</button></a>
      <a href="/qa_gpu"><button type="button" class="btn btn-outline-light active" id="choice_GPU">GPU Q&A</button></a>
      <a href="/qa_ram"><button type="button" class="btn btn-outline-light" id="choice_RAM">RAM Q&A</button></a>
      <a href="/qa_mb"><button type="button" class="btn btn-outline-light" id="choice_MB">MB Q&A</button></a>
      <a href="/qa_disk"><button type="button" class="btn btn-outline-light" id="choice_DISK">DISK Q&A</button></a>
          </div>
        <!--Q7-->
        <div class="question_table">
          Q7：顯示卡選購技巧？
        </div>
        <div class="answer_table">
          A：請盡量拿保固長的，華碩和技嘉和evga都有5年保固，另外非公顯示卡的散熱有分等級，各廠商的分級方式都不同，所以不在此討論。
        </div>
      </div>
      <div class="swiper-slide sw08">
        <!-- 上方功能列 -->
        <img src="./images/card.jpg" id="home_card">
        <div class="home">
            <a href="/index"><button type="button" class="btn btn-outline-light" id="build">組電腦</button></a>
            <a href="/cpu_rank"><button type="button" class="btn btn-outline-light" id="rank">硬體排行</button></a>
            <a href="/qa"><button type="button" class="btn btn-outline-light" id="qa">Q&A</button></a>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModalCenter" id="content">
                Chatbot
            </button>
            <a href="/qa_cpu"><button type="button" class="btn btn-outline-light " id="choice_CPU">CPU Q&A</button></a>
      <a href="/qa_gpu"><button type="button" class="btn btn-outline-light active" id="choice_GPU">GPU Q&A</button></a>
      <a href="/qa_ram"><button type="button" class="btn btn-outline-light" id="choice_RAM">RAM Q&A</button></a>
      <a href="/qa_mb"><button type="button" class="btn btn-outline-light" id="choice_MB">MB Q&A</button></a>
      <a href="/qa_disk"><button type="button" class="btn btn-outline-light" id="choice_DISK">DISK Q&A</button></a>
          </div>
        <!--Q8-->
        <div class="question_table">
          Q8：Intel處理器的內顯是否夠用？
        </div>
        <div class="answer_table">
          A：Intel處理器幾乎都配有內顯，效能並不會優於以上提到的任何一款顯示卡，但是玩一些不吃顯卡的遊戲如楓之谷、LOL都還算過得去。
        </div>
      </div>
      
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    
    <!-- Add Scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

  <!-- Swiper JS -->
  <script src="../js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    
    var swiper = new Swiper('.swiper-container', {
      keyboard: {
        enabled: true,
      },
      scrollbar: {
        el: '.swiper-scrollbar',
        hide: true,
      },
    });
  </script>
</body>

</html>