<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>幫組電腦的虛擬學長</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="./css/swiper.min.css">
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- BootStraps JS-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script>window.jQuery</script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Swiper JS -->
  <script src="js/swiper.min.js"></script>
  <!-- Demo styles -->
  <style>
  </style>
</head>

<body>
  <div class="input-group">
    <li ID="datebox">3213</li>

    <div class="input-group-btn">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul id="demolist" class="dropdown-menu">
        <li><a href="#dasd">A</a></li>
        <li><a href="#sadsa">B</a></li>
        <li><a href="#dasd">C</a></li>
      </ul>
    </div>
  </div>
  <button onclick="myFunction()">点击这里</button>
  <script>
    function myFunction() {
      document.getElementById("datebox").innerHTML = "Item was changed";
    }
  </script>

  <script>
    $('#demolist li a').on('click', function () {
      document.getElementById("datebox").innerHTML=$(this).text();
    });
  </script>

</body>

</html>