<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>幫組電腦的虛擬學長</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="./css/swiper.min.css">
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- BootStraps JS-->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script>window.jQuery</script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Swiper JS -->
  <script src="js/swiper.min.js"></script>
  <!-- Demo styles -->
  <style>
  </style>
</head>

<body>
  <input id="globalcpu">
  <button id="cpuchoice">選擇cpu</button>

  <button type="button" class="btn btn-outline-dark" id="cpucheck">添加到我的選擇</button>
  <a id="list_cpu"></a>
  <script>
    $("#cpuchoice").click(function () {
      x = "123132312312";
      document.getElementById("globalcpu").value = x;
    })
  </script>
  <script>
    var temp;
    $("#cpucheck").click(function () {
      temp = document.getElementById('globalcpu').value;
      document.getElementById('list_cpu').innerText = temp;
    });
  </script>



</body>

</html>